#portfolio {
    background: linear-gradient(180deg, $background-color2, $background-color);

    .portfolio-wrapper {
        display: flex;
        align-items: center;
        margin-inline: auto;
        flex-direction: column;
        justify-content: center;
        max-width: $wraper-width;

        article {
            padding-block: 6em;
            padding-inline: 1em;

            .body {
                gap: 2em;
                display: flex;
                font-size: 1rem;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                @include r-sm {
                    flex-direction: row;
                }
            }

            .title.top {
                margin-bottom: 1em;
            }

            .title.top,
            .title.bottom {
                font-size: 2em;
                color: $gray-400;
                text-align: center;
                text-wrap: balance;
                margin-inline: auto;
                padding-inline: 0.5rem;
            }

            .title.bottom {
                display: none;
            }

            @include r-sm {
                font-size: 1.1rem;
            }

            @include r-md {
                font-size: 1.2rem;

                .title.top {
                    display: none;
                }

                .title.bottom {
                    display: inline-block;
                }
            }
        }

        .portfolio-images {
            width: 100%;
            cursor: pointer;

            @include r-sm {
                max-width: 45%;

                &.odd {
                    order: 2;
                }
            }

            @include r-lg {
                max-width: 40%;
            }

            img {
                width: 100%;
                border-radius: 1em;

                &:hover {
                    outline-offset: 0.4em;
                    outline: 0.25rem solid $secondary;
                }
            }
        }

        .texts {
            width: 100%;
            gap: 1.875em;
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;

            @include r-sm {
                &.odd {
                    order: 1;
                }
            }

            p {
                font-size: 1em;
                color: $gray-500;
                text-wrap: balance;
            }

            .technology {
                gap: 2.5em;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                list-style-type: none;
                justify-content: center;

                img {
                    height: 2em;
                }
            }

            .buttons {
                gap: 1em;
                display: flex;
                flex-wrap: wrap;
                font-size: 0.9rem;
                align-items: center;
                justify-content: center;

                @include r-md {
                    gap: 1.5em;
                    font-size: 1rem;
                }
            }
        }
    }
}

#portfolio-filter {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    text-wrap: nowrap;
    padding-inline: 1em;
    margin-inline: auto;
    align-items: center;
    justify-content: center;

    .button {
        font-size: 1em;
        font-weight: 600;

        @include r-md {
            font-size: 1.2em;
        }
    }

    .reset {
        border: none;
        cursor: pointer;
        color: $gray-400;
        border-radius: 50%;
        background-color: transparent;

        svg {
            height: 3em;
            transform-origin: center center;
        }

        &:hover svg {
            color: $white;
            animation: rotating 5s infinite linear;

            rect {
                fill: $secondary;
            }
        }
    }
}
