// Typography
$theme_font_family: "Segoe UI", Arial, sans-serif;

// Breakpoints
$break-3xs: 22em; // 352px
$break-2xs: 30em; // 480px
$break-xs: 36em; // 576px
$break-sm: 48em; // 768px
$break-2sm: 58em; // 928px
$break-md: 64em; // 1024px
$break-lg: 85em; // 1360px
$break-xl: 105em; // 1680px
$break-2xl: 120em; // 1920px -> Full HD
$break-2K: 160em; // 2560px -> 2K
$break-4K: 240em; // 3840px -> 4K

$wraper-width: 80rem;
